.resume-preview4-container {
  display: flex;
  font-family: Arial, sans-serif;
  color: #000;
  width: 90%;
  margin: 50px auto;
  padding: 0;
  border-radius: 8px;
}

/* Left Panel */
.resume-preview4-left-panel {
  width: 30%;
  background-color: #d4af37;
  padding: 20px;
  box-sizing: border-box;
}

.resume-preview4-left-panel h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.resume-preview4-contact-info p {
  margin: 5px 0;
}

/* Skills vertical format */
.resume-preview4-skills-section {
  margin-top: 20px;
}

.resume-preview4-skills-section strong {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.resume-preview4-skills-list p {
  margin: 4px 0;
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 1.5;
}

/* Right Panel */
.resume-preview4-right-panel {
  width: 70%;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
}

.resume-preview4-content-container {
  margin-bottom: 20px;
}

.resume-preview4-content-container h3 {
  font-size: 16px;
  color: #000;
  border-bottom: 2px solid #5e6b7f;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.resume-preview4-content-container p {
  margin: 5px 0;
  font-size: 14px;
  white-space: pre-line;
  text-align: justify;
  line-height: 1.5;
}

.resume-preview4-profile-summary p {
  margin: 5px 0;
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}
.resume-preview4-experience-entry {
  margin-bottom: 15px;
}

.resume-preview4-bold {
  font-weight: bold;
}

.resume-button-group {
  margin-top: 1%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 60%;
}

.resume-button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.resume-button:hover {
  background-color: #3f51b5;
  transform: translateY(-2px);
}
